.popup__profile {
  display: none;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup_opened {
  display: flex;
}

/* Aquí el popup centrado y relativo para el botón */
.popup__container {
  width: 430px;
  height: 300px;
  background-color: white;
  color: black;
  border-radius: 4%;
  position: relative;
  /* ¡Muy importante! */
  padding: 20px;
}

/* Botón de cerrar posicionado absolutamente relativo al contenedor */
.popup__button-cancel {
  position: absolute;
  right: 680px;
  top: 250px;
  font-size: 60px;
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
  width: 30px;
  height: 30px;
  line-height: 1;
  text-align: center;
  border-radius: 50%;

  /* Saco el botón un poco afuera con transform */
  transform: translate(50%, -50%);
  transition: color 0.3s ease;
  user-select: none;
}

.popup__button-cancel:hover {
  color: gray;
  background-color: rgba(0, 0, 0, 0.1);
}

.popup__content {
  border: none;
  display: flex;
  flex-direction: column;
  margin: 20px;
  gap: 10px;
  font-family: "Inter-Regular";
  font-size: 14px;
  color: #000000;
}

.popup__title {
  margin: 0;
  font-size: 24px;
  font-family: "Inter-Black";
  color: black;
}


.popup__name {
  border-bottom: solid red;
  margin: 22px 0 0;
  height: 28px;
}

.popup__about {
  border-bottom: solid;
  margin: 0;
  height: 28px;
}

.popup__button-save {
  background-color: rgb(0, 0, 0);
  height: 50px;
  color: white;
  border: none;
  border-radius: 2px;
}

.popup__button-save:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (min-width: 768px) and (max-width: 1280px) {
  .popup__button-cancel {
    right: 280px;
    top: 190px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {

  .popup__button-cancel {
    right: 285px;
    top: 105px;
    font-size: 50px;
  }

  .popup__container {
    position: static;
    width: 282px;
    height: 322px;
    margin: auto;
  }

  .popup__content {
    justify-content: center;
  }

  .popup__title {
    font-size: 18px;
    margin-top: 10px;
  }

  .popup__button-save {
    width: 100%;
  }
}